<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In qui sit suscipit, vel repudiandae illo! Maxime, laborum. Odit amet alias reprehenderit quibusdam animi cum, doloremque nemo! Vel impedit a perspiciatis!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda atque incidunt vitae, eum quis numquam fuga nostrum optio delectus pariatur asperiores iure obcaecati ad reprehenderit sint officiis natus itaque.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus suscipit laborum at voluptatem quaerat? Sed dignissimos, accusantium tenetur aspernatur excepturi ex ratione quod sequi earum corporis iste necessitatibus ullam praesentium!
    </p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#/about" (click)="click_OpenWeb('Naver')">Naver</a>
        <a href="#/about" (click)="click_OpenWeb('Youtube')">Youtube</a>
        <a href="#/about" (click)="click_OpenWeb('Twitter')">Twitter</a>
    </div>

</section>
